<div class="jumbotron">

  <p>GITHUB SEARCH</p>
  <div id="Nav">
    <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
      <a class="nav-item nav-link active text-dark" routerLink="home">Home<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link text-dark" routerLink="search">Git-search</a>
      <a class="nav-item nav-link text-dark" routerLink="about">About</a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav"></div>
      </div>
    </nav>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4" *ngFor="let user of users">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{user.avatar_url}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{user.login}}</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>

  </div>
</div>


<router-outlet></router-outlet>
