
h1{
  background-color: blue;
  padding-top: 20%;
  padding-left: 0%;
  color: aqua;
  font-size: 100px;
  padding-bottom: 30%;
  margin-left: 30px;
  text-transform: capitalize;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

